*{
    /* Resetting the default styles of the page */
    margin:0;
    padding:0;
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* Setting default text color, background and a font stack */
    font-size:0.825em;
    color:#eee;
    background:url("../img/light-noise1.gif");
    font-family:Arial, Helvetica, sans-serif;
    min-height: 400px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
    color:rgb(34, 188, 226);
}
div.container a.brand:hover {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
    color:rgb(245, 210, 25);
}
.tableUsers li{ 
    color: #000;
    text-decoration: none;
    background-color: rgb(34, 188, 226);
    text-shadow: 1px 1px 2px #fff;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 60px;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue;
    margin: 0 auto;
}
.tableUsers li:hover{
    color: rgb(12, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 210, 25);
    text-shadow: 1px 1px 2px rgb(245, 245, 245);
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 60px;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue;
    margin: 0 auto;    
}
.tableUsers a{
    text-decoration: none;
}
.tableUsers a:hover{
    text-decoration: none;
}
.tableUsers{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 1px 1px 1px 1px;
    background-color: #fff;
    color: #000;
}
.tableUsers td{
   padding-left: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   border-right: solid 1px #ccc;
   border-bottom: solid 1px #ccc;
}
.tableUsers th{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: rgb(245, 210, 25);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #fff;
}
.tableUsers tr:hover{ 
    background-color:#e3e3e3;  
}
.userTableActions{
    background: none;
    padding-left: 10px!important;
    padding-right: 10px;
}
.container{
    width: 95%!important;
}
hr{
    margin: 20px 0!important;
    border: 0;
    border-bottom: 1px solid #fff;
}
.navbar-inverse .navbar-inner {
    border-color: rgb(255, 255, 255);
    /*box-shadow: 0px 1px 200px rgb(0, 214, 255);*/
}
.navbar-inverse .nav .active>a,
.navbar-inverse .nav .active>a:focus {
    color: #fff;
    background-color: #111;
    border-color: rgb(255, 255, 255); 
}
.nav a:hover{
    color: #fff;
    background-color: rgb(34, 188, 226)!important; 
}

#carbonForm{
    /* The main form container */
    background-color:#1C1C1C;
    border:1px solid #080808;
    margin:20px auto;
    padding:20px;
    width:270px;

word-spacing: -1px;
line-height: 20px;
text-align: justify;
-moz-box-shadow: 1px 1px 10px #ccc;
-webkit-box-shadow: 1px 1px 10px #ccc;
box-shadow: 1px 1px 10px #ccc;
border: solid 1px rgb(228, 225, 225);
background-color: rgb(255, 255, 255);
padding: 20px;

}

#carbonForm h1{
    /* The form heading */
    font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:normal;
    padding:0 0 0 10px;
    text-align:left;
    -webkit-text-shadow: 0 0 8px lightblue;
    text-shadow: 0 0 8px lightblue; 
    text-align: center;
    color:rgb(34, 188, 226);
}
/*
#carbonForm h1{
    
    font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size:60px;
    font-weight:normal;
    padding:0 0 30px 10px;
    text-align:left;
    -webkit-text-shadow: 0 0 8px lightblue;
    text-shadow: 0 0 8px lightblue; 
    text-align: center;
}
*/
#carbonForm input{
    margin: 0 auto;
    float:right;
    
}
#carbonForm span{
    
}
#carbonForm .addButton{
    margin:0 auto;
    float: none;
    color: #000;
    text-decoration: none;
    background-color: rgb(34, 188, 226);
    text-shadow: 1px 1px 2px #fff;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 100px;
    list-style: none;
    text-align: center;
    margin:0 auto;
    border:none;
    margin-top: 20px;
}
#carbonForm .addButton:hover{
    color: rgb(12, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 210, 25);
    text-shadow: 1px 1px 2px rgb(245, 245, 245);
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 100px;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue; 
    border: none;
    margin-top: 20px;
}

.fieldContainer{
    /* The light rounded section, which contans the fields */
    background-color:#111111;
    padding:30px 10px;
}

#carbonForm,.fieldContainer,.errorTip{
    /* Rounding the divs at once */
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
}


.formRow{
    height:35px;
    padding:10px;
    position:relative;
}

.label{
    float:left;
    padding:0 20px 0 0;
    text-align:right;
    width:70px;
}

label{
    font-family:Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size:11px;
    letter-spacing:1px;
    
}

.field{
    float:left;
}

.field input{
    /* The text boxes */
    border:1px solid white;
    color:#666666;
    font-family:Arial,Helvetica,sans-serif;
    font-size:22px;
    padding:4px 5px;
    background:url("img/box_bg.png") repeat-x scroll left top #FFFFFF;
    outline:none; /* Preventing the default Safari and Chrome text box highlight */
}

.signupButton{
    /* The submit button container */
    text-align:center;
    padding:30px 0 10px;
}

#submit{
    /* The submit button */
    border:1px solid #f4f4f4;
    cursor:pointer;
    height:40px;
    text-indent:-9999px;
    text-transform:uppercase;
    width:110px;
    
    background:url("img/submit.png") no-repeat center center #d0ecfd;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

#submit.active{
    /* Marking the submit button as active adds the preloader gif as background */
    background-image:url("img/preloader.gif");
}

#submit:hover{
    background-color:#dcf2ff;
    border:1px solid white;
}

input:hover,
input:focus{
    -moz-box-shadow:0 0 8px lightblue;
    -webkit-box-shadow:0 0 8px lightblue;
    box-shadow:0 0 8px lightblue;
}

.errorTip{
    /* The error divs */
    background-color:#970F08;
    color:white;
    font-size:10px;
    height:26px;
    letter-spacing:0.4px;
    margin-left:20px;
    padding:5px 0 5px 10px;
    position:absolute;
    text-shadow:1px 1px 0 #555555;
    width:200px;
    right:-130px;
}


/* The styles below are only necessary for the styling of the demo page: */

#footer{
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px;
    color:#eee;
    text-align:center;
    font-weight:normal;
    font-style:italic;
}

a, a:visited {
    color:rgb(34, 188, 226);
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:none;
    color:rgb(245, 210, 25);
}

a img{
    border:none;
}
h1{
    -webkit-text-shadow: 0 0 8px lightblue;
    text-shadow: 0 0 8px lightblue;
    font-size: 16px;
}
.delButtonConf{
    margin:0 auto;
    float: none;
    color: #000;
    text-decoration: none;
    background-color: rgb(34, 188, 226);
    text-shadow: 1px 1px 2px #fff;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 60px!important;
    list-style: none;
    text-align: center;

    border:none;
}
.delButtonConf:hover{
    color: rgb(12, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 210, 25);
    text-shadow: 1px 1px 2px rgb(245, 245, 245);
    border-radius: 1px 1px 1px 1px;
    padding: 3px 10px 3px 10px;
    width: 60px!important;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue; 
    border: none;
}
.delConf{
    width:200px;
    margin:0 auto;
    text-align: center;
}
.hero-unit{
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-shadow: 1px 1px 2px #ccc;
}
.welcome{
    padding-top: 10px;
    padding-left: 10px;
}
.welcome:hover{    
    color: rgb(245, 210, 25);
    padding-top: 10px;
    padding-left: 10px;
}
.liNoP{
    list-style: none;
    color:red;
    
}
.liNoP li{
    font-family: Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    list-style: none;
    margin-left: -21px;
}
#signupForm li{
    list-style: none;
    color:red;
    margin-left: -22px;
}
#loginForm li{
    list-style: none;
    color:red;
    margin-left: -22px;
}
input{
    width: 235px;
}
dd{
    margin-left: 0px;
}
.loginErrorFix{
    text-align: center;
}
.userActive{
     color:green;
}
.userDisabled{
     color:red;
}

.liNoP label {
    font-family: Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
}
.clearFix{
    height:40px;
}
.manufacturer{
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    padding: 0px;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
    color: #000;
    box-shadow: 1px 1px 6px rgb(226, 226, 226);
    border: solid 1px rgb(219, 219, 219);

}

.manufacturer h1{
    /* The form heading */
    font-size: 16px;
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    
}
/*
.manufacturer a{
    color: #fff;
    text-shadow: none;
    opacity: 0.4;
}
.manufacturer a:hover{
    color: rgb(34, 188, 226);
    text-shadow: none;
    opacity: 0.4;
}
*/
.manufacturerContent{
    width: 180px;
    height: 100px;
    opacity: 0.6;
    text-align: justify;
    color: #333;
    margin-top: 16px;    
}
.manufacturerName{
    width: 180px;
    height: 100px;
    opacity: 0.6;
    text-align: justify;
    margin-top: -25px;
    position:absolute;
    
}
.manufacturerImg{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}
.manufacturerImg:hover{
    zoom: 1;
    cursor: pointer;    
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    border:1px solid #e8e8e8;
    box-shadow: 1px 1px 5px rgb(0, 0, 0); 
     
}

/*products*/
.product{
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    padding: 0px;
    width: 200px;
    height: 138px;
    float: left;
    margin-left: 10px;
    color: #000;
    box-shadow: 1px 1px 6px rgb(226, 226, 226);
    border: solid 1px rgb(219, 219, 219);
}

.product h1{
    /* The form heading */
    font-size: 16px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    
}
/*
.manufacturer a{
    color: #fff;
    text-shadow: none;
    opacity: 0.4;
}
.manufacturer a:hover{
    color: rgb(34, 188, 226);
    text-shadow: none;
    opacity: 0.4;
}
*/
.productContent{
    opacity: 0.6;
    text-align: justify;
    color: #333;
    margin-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
    word-spacing: -1px;
    line-height: 20px;
    height: 180px;
     
}
.productContentURL {
    position: absolute;
    width: 100px;
    margin-left: 123px;
    margin-top: -35px;
}
.productName{
    width: 180px;
    height: 100px;
    opacity: 0.6;
    text-align: justify;
    margin-left: 11px;
    position: absolute;
    margin-top: 5px;    
}
.productImg{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.productImg:hover{
    zoom: 1;
    cursor: pointer;    
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    border:1px solid #e8e8e8;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);    
}
#carbonForm h2 {
    font-family: Century Gothic,Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    -webkit-text-shadow: 0 0 8px lightblue;
    text-shadow: 0 0 8px lightblue;
    text-align: center;
}
.productTitle{
    border-bottom: solid 1px #ccc;
    box-shadow: 0px 1px #fff;
    margin-bottom: 10px;
    height: 30px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-size: 200%;
    color: rgb(0, 0, 0);
}
.productDetailsImg{
    float:left;
    margin-right:30px;
    margin-top:10px;
    margin-right: 10px;
}
.leftSidebar{
    width: 200px;
    height: 700px;
    float:left;
    color:#000;
    border:solid 1px #000;
}
.productleftSidebar{
    width: 200px;
    padding: 20px;
    float: left;
    box-shadow: 1px 1px 10px #ccc;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(62, 135, 153);
}
.productContainer{
    margin-left: 260px;
    word-spacing: -1px;
    line-height: 20px;
    text-align: justify;
    box-shadow: 1px 1px 10px #ccc;
    border: solid 1px rgb(228, 225, 225);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.productsContainer{
    margin-left: 260px;
    margin-right: 20px;
    word-spacing: -1px;
    line-height: 20px;
    text-align: justify;
    box-shadow: 1px 1px 10px #ccc;
    border: solid 1px rgb(228, 225, 225);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
    float: left;
}
.sidebarProductName{
    border-bottom: solid 1px #ccc;
    box-shadow: 0px 1px #fff;
    margin-bottom: 10px;
    height: 30px;
    text-align: left;
    font-size: 120%;
    color: rgb(0, 0, 0);
    padding-left: 5px;
}
.sidebarProductContent{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 100%;
    color: rgb(0, 0, 0);
    padding-left: 5px;
    padding-right: 5px;
    word-spacing: -1px;
    line-height: 20px;
}
.sidebarProductTitle{
    border-bottom: solid 1px rgb(27, 43, 61);
    box-shadow: 0px 1px rgb(159, 212, 253);
    margin-bottom: 10px;
    height: 30px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-size: 200%;
    color: rgb(0, 0, 0);
}
.sidebarProduct{
    background-color: #e8e8e8;
    font-size: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
    border: solid 5px #fff;
}
.mutedFixProduct{
    padding: 3px;
    font-size: 120%;
}
.footer{
    color: rgb(62, 135, 153);
    background: #0e0e0e;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    border-top: solid 3px rgb(34, 188, 226)!important;
    -webkit-box-shadow: 1px 1px 10px rgb(148, 148, 148);
     -moz-box-shadow: 1px 1px 10px rgb(148, 148, 148);
          box-shadow: 1px 1px 10px rgb(148, 148, 148);
    
}
.categURL{
    background-color: #000;
    opacity: 0.9;
    margin-top: -25px;
    height: 25px;
}

.categURLa{
    margin-left:10px;
    font-size: 100%;
    position: absolute;
    color:#fff!important;
    margin-top: -20px;
    -webkit-text-shadow: none;
     -moz-text-shadow: none;
          text-shadow: none;
}
.categURLa:hover{
    margin-left:10px;
    font-size: 100%;
    position: absolute;
    color:rgb(34, 188, 226)!important;
    margin-top: -20px;
    -webkit-text-shadow: none;
     -moz-text-shadow: none;
          text-shadow: none;
}
.manufacturerFooter{
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 10px;
    padding: 0px;
    width: 200px;
    height: 30px;
    float: left;
    margin-left: 10px;
    color: #000;
    box-shadow: 1px 1px 6px rgb(226, 226, 226);
    border: solid 1px rgb(219, 219, 219); 
}
.TableDetailsRight{
    float:right;
}
.clearFix{
    width:100%;
    height:10px;
}
.tableHeaderGeneral{
    border-bottom:1px solid #ccc;
    font-size: 150%;
}
.tableHeaderSub{
   border-bottom:1px solid #ccc;
    font-size: 150%; 
}
.productsContainerFooter{
    word-spacing: -1px;
    line-height: 20px;
    text-align: justify;
    box-shadow: 1px 1px 10px #ccc;
    border: solid 1px rgb(228, 225, 225);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 25px 20px;
    width: 100%;
    float: left;
}
.breadFix{
    padding: 15px;
    font-size: 150%;
    box-shadow: 1px 1px 10px #ccc;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(62, 135, 153);
}
.HeaderContent{
    width:100%;
    min-height: 220px;
    
}

